$block-height: 9em;
.block{
  height: calc(100vh - #{$block-height});
  width: calc(100vw - #{$block-height});
  background: cc(one);
  position: relative;
  transition: all 500ms cb();
  color: cc(ghost);
  @include flexCenter;
  flex-direction: row;
  align-items: flex-start;
  &__left{
    @include flexCenter;
    align-items: flex-start;
    height:100%;
    width:200px;
    .name{
      height: 100%;
      width: 100%;
      display: inline-flex;
      position: relative;
      p{
        color:cc(ghost);
      }
      p:nth-child(1) {
        position: absolute;
        transform: rotate(-90deg);
        top: 40px;
        left: -13px;
      }
      p:nth-child(2) {
        position: absolute;
        left: 5px;
      }
    }
    .social{
      width: 100%;
    }
  }
  &__right{
    @include flexCenter;
    height:100%;
    .intro{

    }
    .projects{
      
    }
  }
  // &:hover{
  //   @include dramaShadow;
  //   transform: scale(.95);
  //   transition: all 500ms cb();
  // }
}