$nav-height: 18em;

.home{
  height:100vh;
  @include flexCenter;
  flex-direction: row;
  width:auto;
  position: relative;
  // justify-content: space-between;
  
  .maxW_1199{
    max-width: 1199px;
    width: 100%;
  }
  .maxW_768{
    max-width: 768px;
    width: 100%;
  }
  .switch--right, .switch--left{
    @include flexCenter;
    height: 100%;
    width:100%;
    max-width:152px;
  }
  // .switch--right{
  //   position: absolute;
  //   right: 0;
  // }
  // .switch--left{
  //   position: absolute;
  //   left: 0;
  // }
  
  &__content--front{
    @include flexCenter;
    height: calc(100vh - #{$nav-height});
    z-index: 1;
    // background:cc(one);
    // &:hover{
      //   @include dramaShadow;
      //   cursor: pointer;
      //   cursor:url("./assets/images/jrodheadshot_cursor.png"), pointer;
      // }
      
    }
    &__content--back{
      height: calc(100vh - #{$nav-height});
      @include flexCenter;
      position: absolute;
  }

}