$nav-height: 18em;

.home{
  height:100vh;
  @include flexCenter;
  width:auto;
  position: relative;
  -webkit-perspective: 2000px;
  perspective: 2000px;
  
  .maxW_1199{
    max-width: 1199px;
    width: 100%;
  }
  .maxW_768{
    max-width: 768px;
    width: 100%;
  }
  .block-left,.block-right {
    background: blue;
    width: 40px;
    left: -20px;
  }
  .block-top,.block-bottom {
	width: 295px;
	height: 40px;
	top: -15px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.block-back {
	-webkit-transform: rotate3d(0,1,0,-180deg) translate3d(0,0,20px);
	transform: rotate3d(0,1,0,-180deg) translate3d(0,0,20px);
	box-shadow: 10px 10px 30px rgba(0,0,0,0.3);
	border-radius: 3px 0 0 3px;
}
.block-front {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform-origin: 0% 50%;
	transform-origin: 0% 50%;
	-webkit-transition: -webkit-transform .5s;
	transition: transform .5s;
	-webkit-transform: translate3d(0,0,20px);
	transform: translate3d(0,0,20px);
	z-index: 10;
}
.block-right {
	height: 390px;
	top: 5px;
	-webkit-transform: rotate3d(0,1,0,90deg) translate3d(0,0,295px);
	-moz-transform: rotate3d(0,1,0,90deg) translate3d(0,0,295px);
	transform: rotate3d(0,1,0,90deg) translate3d(0,0,295px);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.block-left {
	height: 400px;
	-webkit-transform: rotate3d(0,1,0,-90deg);
	transform: rotate3d(0,1,0,-90deg);
}
.block-top {
	-webkit-transform: rotate3d(1,0,0,90deg);
	transform: rotate3d(1,0,0,90deg);
}

.block-bottom {
	-webkit-transform: rotate3d(1,0,0,-90deg) translate3d(0,0,390px);
	transform: rotate3d(1,0,0,-90deg) translate3d(0,0,390px);
}

/* Transform classes */

.block-viewinside .block-front {
	-webkit-transform: translate3d(0,0,20px) rotate3d(0,1,0,-160deg);
	transform: translate3d(0,0,20px) rotate3d(0,1,0,-160deg);
}

.block-book {
	-webkit-transform: translate3d(0,0,150px) rotate3d(0,1,0,0deg);
	transform: translate3d(0,0,150px) rotate3d(0,1,0,0deg);
}

.block-book {
	-webkit-transform: translate3d(0,0,0px) rotate3d(0,1,0,180deg);
	transform: translate3d(0,0,0px) rotate3d(0,1,0,180deg);
}
  &__content--front{
    @include flexCenter;
    height: calc(100vh - #{$nav-height});
    z-index: 1;
    // background:cc(one);
    // &:hover{
      //   @include dramaShadow;
      //   cursor: pointer;
      //   cursor:url("./assets/images/jrodheadshot_cursor.png"), pointer;
      // }
      
    }
    &__content--back{
      height: calc(100vh - #{$nav-height});
      @include flexCenter;
      position: absolute;
  }

}